body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.controlSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#grid {
    border-style: solid;
    border-color: black;
    
    
    background-color: white;

    display: flex;
    justify-content: center;
    


    margin: 75px;
    width: 50vw;
    height: 50vw;
}



.horizontalBox {
    border-style: solid;
    border-color: black;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: auto;
}
.verticalBox {
    border-style: solid;
    border-color: black;
    display: flex;
    flex: 1;
    width: auto;
}


.label {
    font-size: large;
    font-weight: bold;
    
}

#colorSelector {
    border:0;
    background:none;
    padding:0;
    border-radius: 20px;
}